   	<div class = "module_panel row panel panel-default navbar-fixed-bottom"   ng-class="{'panelLarge': panelClicked , 'panelSmall': !panelClicked, 'panel-fog':fog, 'panel-blue-boy':blueBoy}" id = "{{tag}}">
		<div class = "col-sm-12 col-sm-offset-2">
			<!-- <div class="panel-heading"> -->



		<div   ng-class = "{hyde: hyde , sho: sho}" tests class = "module_panel_info row">

	    <b class="panel-title">{{linkTitle}}</b> <a alt =  = "Running a Center"  ng-click = "togglePanel()" ><i alt="Interchange podcasts Icon"   ng-class="{'fa fa-chevron-right': panelClicked , 'fa fa-chevron-down': !panelClicked}">
	 	</i></a>
			<div class = "col-sm-6 col-sm-offset-1">
				<div id = "overview">
				<h5>Background sdfsdaf: </h5>
				<p>{{linkText}}</p>{{blueBoy}}
				</div>


			</div>
		</div>

<!-- 	</div> -->
</div>