 <div class = "module_panel row panel panel-default h" data_ie_fix ng-class="{'panelLarge': panelClicked || scrollHide, 'hide': !panelClicked, 'navbar-fixed-bottom':vert}" >
<div class = "col-sm-12 col-sm-offset-2">
<div class="panel-heading">

<!--
	    <b class="panel-title brownGray">{{panelTitle}}</b> -->
</div>


<div class = "syllabus_orig">

 <div class=" col-sm-8">

<!-- <ul style ="list-style-type:none;">
<li>
	<div class = "thumbnail col-sm-7">
	<a href = "/#/media/rc/1">
		<img width = "200" src = "/images/vid_one.jpg"></a>
</div>
 <div class = " col-sm-4">
<a href = "/#/media/rc/1"><h5>Intro</h5></a>
	<p style = " font-size:11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed.</p></div>
</li>
<li>
	<div class = "thumbnail col-sm-7">
<img width = "200" src = "/images/vid_two.jpg">
</div>
</div>
<div class = " col-sm-4" > <h3 class = "gray mediaType">Podcasts</h3>
<a href = "/#/media/rc/2"><h5>	Partnerships</h5></a>



<div class = " col-sm-4">
	<p style = "font-size:11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed.</p>
</div>
	<div class = "thumbnail col-sm-7">
<img src = "/images/podcast.jpg"
/>
</div>
</li>



</ul> -->
<p>This is {{panelTitle}} intro text...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac lacinia dolor.</p>
 <h3 class = "gray mediaType" ng-class = "{'hide':!panelClicked}">Resources</h3>
<table class="table table-striped table-hover">
<!-- 	<tr><th>Title</th><th>Description</th></tr> -->
<!-- <tr><td><a href = "{{currentLink.link}}">video 1</a></td><td>Intro to LTAP/TTAP</td></tr>
<tr><td>video 2</td><td>Intro to the FHWA</td></tr>
<tr><td>video 3</td><td>Intro to the FHWA</td></tr>
<tr><td>video 4</td><td>Intro to the FHWA</td></tr>
<tr><td>video 5</td><td>Intro to the FHWA</td></tr>
 -->

<tr  ng-repeat="obj in moduleSyllabusMediaItems track by $id(obj) "><td><a href = "{{obj.link}}"><img src = "/images/play_15.png"><td><a href = "{{obj.link}}">{{obj.link_title}}</a></td><td>{{obj.link_text}}</td></tr>

</table>
<br>
<div class = " text-center center-block  ">
	<a href = "http://ltap.org"><img  id = "back" src = "http://www.ltap.org/images/LTAP-logo_.png"> </a>
		</div>
</div>




</div>

</div>

<!--
	</div>
</div>  -->