
subicons

			 <div class = "row" ng-class = "{'hide': selected!='wi'}">
<div class = "col-sm-1"><img  style = "height: 30px !important; width: 30px !important;" ng-class="{'hide': selected!= 'wi'}"  src = "images/icons_fake/NEWGREEN/TA.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-laptop fa-5x" ></div>
<div class = "col-sm-1"><img  style = "height: 30px !important; width: 30px !important;" ng-class="{'hide': selected!= 'wi'}"  src = "images/icons_fake/NEWGREEN/TA.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-laptop fa-5x" ></div>
<div class = "col-sm-1"><img  style = "height: 30px !important; width: 30px !important;" ng-class="{'hide': selected!= 'wi'}"  src = "images/icons_fake/NEWGREEN/TA.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-laptop fa-5x" ></div>
<div class = "col-sm-1"><img  style = "height: 30px !important; width: 30px !important;" ng-class="{'hide': selected!= 'wi'}"  src = "images/icons_fake/NEWGREEN/TA.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-laptop fa-5x" ></div>
<div class = "col-sm-1"><img  style = "height: 30px !important; width: 30px !important;" ng-class="{'hide': selected!= 'wi'}"  src = "images/icons_fake/NEWGREEN/TA.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-laptop fa-5x" ></div>
</div>


