
<div class = "syllabus_orig">
Module Title goes here
 <div class=" col-sm-4 col-sm-offset-2">
 <h3>Videos</h3>
<ul>
<li>
	<div class = "thumbnail col-sm-7">
	<a href = "/chalk/#/media/{{moduleId}}/1"><img width = "200" src = "/chalk/images/vid_one.jpg"></a>
</div>
<div class = " col-sm-4">
<a href = "chalk/#/media/{{moduleId}}/1"><h5>	Intro</h5></a>
	<p style = "color: #fafafa;font-size:11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed.</p></div>
</li>
<li>
	<div class = "thumbnail col-sm-7">
<img width = "200" src = "/chalk/images/vid_two.jpg">
</div>
</div>
<div class = " col-sm-4"> <h3>Podcasts</h3>
<a href = "/chalk/#/media/{{moduleId}}/2"><h5>	Partnerships</h5></a>



<div class = " col-sm-4">
	<p style = "color: #fafafa; font-size:11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed.</p>
</div>
	<div class = "thumbnail col-sm-7">
<audio controls><source src = "http://www.ltap.org/audio/Broadcasting_Podcast.mp4"/><source src = "http://www.ltap.org/audio/Broadcasting_Podcast.ogv"/><embed src="http://www.ltap.org/audio/Broadcasting_Podcast.mp4"  type="application/x-shockwave-flash" autobuffer ="false" autoplay="0"allowfullscreen="true" allowScriptAccess="always" ></embed></audio>

</div>
</li>



</ul>
</div>




</div>

</div>