

<div class = "module_icons row" ng-class = "{'lessSpace':panelClicked}">
<!--icons-->
<div ng-hide=" fog" class = "module_icons_fog">
 <div class="col-sm-1 col-sm-offset-1 ">

	 	<div class="thumbnail" colors-change ="rc" >
	 		<a alt =  = "Running a Center"  ng-click = "getModule('rc')" ><img ng-class="{sel: selected == 'rc'}"  src = "/images/icons_fake/NEWGREEN/RC.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-building-o  fa-5x" >
	 	</a> <div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Running a Center</h3>
	    </div>

		</div>
	</div>


	<div class="col-sm-1" >
	 	<div class="thumbnail"  colors-change="swd">	<a alt =  = "Stuff We Do"  ng-click = "getModule('swd')" ><img  ng-class="{sel: selected == 'swd' }" src = "/images/icons_fake/NEWGREEN/SD.jpg"  alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-road  fa-5x" ></a>
	 	 <div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Stuff We Do</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "rc">	<a alt =  = "" ><img   ng-click = "getModule('rc')" ng-class="{sel: selected == 'rc' }" src = "/images/icons_fake/NEWGREEN/RC.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-volume-up fa-5x" ></a>
	 	 <div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Running a Center</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "ta" >	<a alt =  = "Technical Assistance"  ng-click = "getModule('ta')"  ><img  ng-class="{sel: selected == 'ta'}" src = "images/icons_fake/NEWGREEN/TA.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-laptop fa-5x" ></a></a><div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Technical Assistance</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1" colors-change = "com">
	 	<div class="thumbnail">	<a alt =  = "Communications"  ng-click = "getModule('com')" ><img ng-class="{sel: selected == 'com' }" src = "/images/icons_fake/NEWGREEN/COM.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-comments-o fa-5x"  ></a>
	 	 <div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Communications</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1  ">
	 	<div class="thumbnail" colors-change = "wi">	<a alt =  = "What is LTAP/TTAP?"  ng-click = "getModule('wi')" ><img ng-class="{sel: selected == 'wi' }"  src = "/images/icons_fake/NEWGREEN/WHATIS.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-question fa-5x" ></a> <div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">What is LTAP/TTAP?</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "mv" >	<a alt =  = "Mission and Vision"  ng-click = "getModule('mv')" ><img ng-class="{sel: selected == 'mv'}" src = "/images/icons_fake/NEWGREEN/MISSION_VISION.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-rocket fa-5x" > </a><div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Mission and Vision</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "rr">	<a alt =  = "Roles and Responsibilities"  ng-click = "getModule('rr')" ><img ng-class="{sel: selected == 'rr'}" src = "/images/icons_fake/NEWGREEN/RR.jpg"  alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-gears fa-5x" > </a><div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Roles and Responsibilities</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1" colors-change = "rrii">
	 	<div class="thumbnail">	<a alt =  = "Roles and Responsibilities II"  ng-click = "getModule('rrii')" ><img ng-class="{sel: selected == 'rrii'}" src = "/images/icons_fake/NEWGREEN/RR.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-gears fa-5x" > </a><div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Lorem ipsum dolor sit amet, consectetur cras amet.</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1" colors-change="tg" >
	 	<div class="thumbnail">	<a alt =  = "Training and Growth"  ng-click = "getModule('tg')" ><img  src = "/images/icons_fake/NEWGREEN/TG.jpg" alt="Interchange podcasts Icon" class="img-circle img-responsive module_icon module_icon_fog fa  fa-graduation-cap fa-5x" ng-class="{sel: selected == 'tg'}"></a>
	 		<div class="caption">
	        <h3 ng-class="{'textLarge': !panelClicked , 'hide':  panelClicked}">Training and Growth</h3>
	    </div>

		</div>
	</div>


</div> <!-- end icons -->

<div class ="clearfix"></div><br>
<div class = "directions" ng-class="{'hide': panelClicked , 'show': !panelClicked}"><p class = "text-center"><i >*Pick a module to read the overview and view the syllabus. We can have more directions here </i></p></div>

</div>