 <div class = "module_panel row panel panel-default navbar-fixed-bottom"  ng-class="{'panelLarge': panelClicked , 'panelSmall': !panelClicked, 'panel-fog':fog, 'panel-blue-boy':blueBoy}" >
		<div class = "col-sm-12 col-sm-offset-2">
			<div class="panel-heading">


	    <b class="panel-title">{{panelTitle}}</b>
</div>


<div class = "syllabus_orig">

 <div class=" col-sm-4">
 <h3>Videos</h3>
<ul style ="list-style-type:none;">
<li>
	<div class = "thumbnail col-sm-7">
	<a href = "/#/media/rc/1">
		<img width = "200" src = "/images/vid_one.jpg"></a>
</div>
 <div class = " col-sm-4">
<a href = "/#/media/rc/1"><h5>	Intro</h5></a>
	<p style = " font-size:11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed.</p></div>
</li>
<li>
	<div class = "thumbnail col-sm-7">
<img width = "200" src = "/images/vid_two.jpg">
</div>
</div>
<div class = " col-sm-4"> <h3>Podcasts</h3>
<a href = "/#/media/rc/2"><h5>	Partnerships</h5></a>



<div class = " col-sm-4">
	<p style = "font-size:11px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed.</p>
</div>
	<div class = "thumbnail col-sm-7">
<img src = "/images/podcast.jpg"
/>
</div>
</li>



</ul>
</div>




</div>

</div>
		</div>
<!--
	</div>
</div>  -->