
<div class = "module_icons row" ng-class = "{'module-icons-blue-boy':blueBoy}">
<!-- <div class="col-sm-12"> <h1 class = "lead text-center" ng-class= "{'lead-blue-boy': blueBoy}">{{topText}}</p></div> -->
	<div ng-show=" fog">
	 <div class="col-sm-1 col-sm-offset-1">

	 	<div class="thumbnail">	<a alt =  = "Running a Center"  ng-click = "getModule('rc')" ><img alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-building-o  fa-2x"  src = "/images/icons_white/RC.jpg" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'rc'}">
	 	</a> <div class="caption">
	        <h3>Running a Center</h3>
	    </div>

		</div>
	</div>


	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Stuff We Do"  ng-click = "getModule('swd')" >
	 		<img alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-road  fa-2x"   src = "/images/icons_white/SD.jpg" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'swd' }"></a>
	 	 <div class="caption">
	        <h3>Stuff We Do</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = ""  ng-click = "getModule('rc')" ><img  src = "/images/icons_white/VOL.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-volume-up fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'rc' }"></a>
	 	 <div class="caption">
	        <h3>Running a Center</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Technical Assistance"  ng-click = "getModule('ta')" ><img  src = "/images/icons_white/TA.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-laptop fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'ta'}"></a></a><div class="caption">
	        <h3>Technical Assistance</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Communications"  ng-click = "getModule('com')" ><img  src = "/images/icons_white/COM.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-comments-o fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'com' }" ></a>
	 	 <div class="caption">
	        <h3>Communications</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1 col-md-offset-1">
	 	<div class="thumbnail">	<a alt =  = "What is LTAP/TTAP?"  ng-click = "getModule('wi')" ><img  src = "/images/icons_white/WHATIS.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-question fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'wi' }"></a> <div class="caption">
	        <h3>What is LTAP/TTAP?</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Mission and Vision"  ng-click = "getModule('mv')" ><img  src = "/images/icons_white/MISSION_VISION.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-rocket fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'mv'}"> </a><div class="caption">
	        <h3>Mission and Vision</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Roles and Responsibilities"  ng-click = "getModule('rr')" ><img  src = "/images/icons_white/RR.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-gears fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'rr'}"> </a><div class="caption">
	        <h3>Roles and Responsibilities</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Roles and Responsibilities II"  ng-click = "getModule('rrii')" ><img   src = "/images/icons_white/RR.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-gears fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'rrii'}"> </a><div class="caption">
	        <h3>Roles and Responsibilities II</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1">
	 	<div class="thumbnail">	<a alt =  = "Training and Growth"  ng-click = "getModule('tg')" ><img  src = "/images/icons_white/TG.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon fa  fa-graduation-cap fa-2x" ng-class="{'module_icon_fog': fog,'module_icon_blue_boy':blueBoy, sel: selected == 'tg'}"> </a>
	 		<div class="caption">
	        <h3>Training and Growth</h3>
	    </div>

		</div>
	</div>
</div>
<!--new london fog-->
<div ng-hide=" fog" class = "module_icons_fog">
 <div class="col-sm-1 col-sm-offset-1 ">

	 	<div class="thumbnail" colors-change ="rc" >	<a alt =  = "Running a Center"  ng-click = "getModule('rc')" ><img  src = "/chalk/images/icons_white/RC.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-building-o  fa-5x" ng-class="{sel: selected == 'rc'}">
	 	</a> <div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Running a Center</h3>
	    </div>

		</div>
	</div>


	<div class="col-sm-1" >
	 	<div class="thumbnail"  colors-change="swd">	<a alt =  = "Stuff We Do"  ng-click = "getModule('swd')" ><img  src = "/images/icons_white/SD.jpg"  alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-road  fa-5x" ng-class="{sel: selected == 'swd' }"></a>
	 	 <div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Stuff We Do</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "rc">	<a alt =  = ""  ng-click = "getModule('rc')" ><img  src = "/images/icons_white/RC.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-volume-up fa-5x" ng-class="{sel: selected == 'rc' }"></a>
	 	 <div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Running a Center</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "ta" >	<a alt =  = "Technical Assistance"  ng-click = "getModule('ta')" ><img   src = 
	 		"/images/icons_white/TA.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-laptop fa-5x" ng-class="{sel: selected == 'ta'}"></a></a><div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Technical Assistance</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1" colors-change = "com">
	 	<div class="thumbnail">	<a alt =  = "Communications"  ng-click = "getModule('com')" ><img  src = "/images/icons_white/COM.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-comments-o fa-5x" ng-class="{sel: selected == 'com' }" ></a>
	 	 <div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Communications</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1  ">
	 	<div class="thumbnail" colors-change = "wi">	<a alt =  = "What is LTAP/TTAP?"  ng-click = "getModule('wi')" ><img  src = "/images/icons_white/WHATIS.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-question fa-5x" ng-class="{sel: selected == 'wi' }"></a> <div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">What is LTAP/TTAP?</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "mv" >	<a alt =  = "Mission and Vision"  ng-click = "getModule('mv')" ><img  src = "/images/icons_white/MISSION_VISION.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-rocket fa-5x" ng-class="{sel: selected == 'mv'}"> </a><div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Mission and Vision</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1">
	 	<div class="thumbnail" colors-change = "rr">	<a alt =  = "Roles and Responsibilities"  ng-click = "getModule('rr')" ><img  src = "/images/icons_white/RR.jpg"  alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-gears fa-5x" ng-class="{sel: selected == 'rr'}"> </a><div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Roles and Responsibilities</h3>
	    </div>

		</div>
	</div>
	<div class="col-sm-1" colors-change = "rrii">
	 	<div class="thumbnail">	<a alt =  = "Roles and Responsibilities II"  ng-click = "getModule('rrii')" ><img src = "/images/icons_white/RR.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-gears fa-5x" ng-class="{sel: selected == 'rrii'}"> </a><div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Roles and Responsibilities II</h3>
	    </div>

		</div>
	</div>

	<div class="col-sm-1" colors-change="tg" >
	 	<div class="thumbnail">	<a alt =  = "Training and Growth"  ng-click = "getModule('tg')" ><img  src = "/images/icons_white/TG.jpg" alt="Interchange podcasts Icon" class="img-circle module_icon module_icon_fog fa  fa-graduation-cap fa-5x" ng-class="{sel: selected == 'tg'}"></a>
	 		<div class="caption">
	        <h3 ng-class="{'textWhite': panelClicked , 'textGray': !panelClicked}">Training and Growth</h3>
	    </div>

		</div>
	</div>


</div> <!-- end fog -->


</div> 